src/xsd/krenk.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="krenk">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="context">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="ctype"/>
                <xs:attribute type="xs:string" name="rtype"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:dateTime" name="reporttime"/>
        <xs:element type="xs:dateTime" name="expirationtime"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="version"/>
      <xs:attribute type="xs:string" name="lang"/>
      <xs:attribute type="xs:string" name="tlp"/>
      <xs:attribute type="xs:byte" name="ttl"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
