src/xsd/krenk.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Krenk">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Description">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="lang"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="Sensitivity">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="Description"/>
            </xs:sequence>
            <xs:attribute type="xs:string" name="stype"/>
          </xs:complexType>
        </xs:element>
        <xs:element type="xs:dateTime" name="ReportTime"/>
        <xs:element type="xs:dateTime" name="ExpirationTime"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="version"/>
      <xs:attribute type="xs:string" name="lang"/>
      <xs:attribute type="xs:string" name="tlp"/>
      <xs:attribute type="xs:string" name="rule"/>
      <xs:attribute type="xs:byte" name="ttl"/>
    </xs:complexType>
  </xs:element>
</xs:schema>